/*RESPONSIVE DE 4to VIEW*/
/*Iphone 11 (6.1) viewport(414 x 896)*/
@media (max-width: 420px) {
    .viewstyle4{
        height: 180%;
    }

    .filafull{
        display: none;
    }

    .vertical{
        position: absolute;
        display: flex;
        width: auto;
    }

    .subtitulo4{
        position: absolute;
        font-size: 120%; 
        font-weight: 600;
        top: -50%;
        left: 20%;
        text-align: center;
    }
}

@media (max-height: 900px) {
    .viewstyle4{
        height: 145%;
    }
}

@media (max-height: 750px) {
    .viewstyle4{
        height: 175%;
    }
}

/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 380px) {
    .viewstyle4{
        height: 175%;
    }

    .filafull{
        display: none;
    }

    .vertical{
        position: absolute;
        display: flex;
        width: auto;
    }

    .subtitulo4{
        position: absolute;
        font-size: 120%; 
        font-weight: 600;
        top: -280% !important;
        left: 20%;
        text-align: center;
    }
}

@media (max-height: 480px) {
    .viewstyle4{
        height: 210vh;
    }
}

@media (max-width: 320px) {
    .viewstyle4{
        height: 320vw !important;
    }

    .filafull{
        display: none;
    }

    .vertical{
        position: relative !important;
        display: flex;
        width: auto;
        height: 280vw;
    }

    .subtitulo4{
        position: absolute;
        font-size: 110%; 
        font-weight: 600;
        top: -9vh !important;
        left: 15vw;
        text-align: center;
    }
}