/*RESPONSIVE DE 3r VIEW*/
@media (max-width: 1200px) {
    .viewstyle{
        border-radius: 0px 118px !important;
    }
}

@media (max-width: 700px) {
    .viewstyle{
        border-radius: 0px 118px !important;
    }

    .viewstyle-custombtnindex{
        left: -50%;
    }
    .BannerTitle3{
        position: relative;
        top: -70px;
        font-size: 35px !important;
        left: 20%;
    }

    .subview3{
        position: relative;
        top: -80px;
        font-size: 12px !important;
        left: 13%;
    }

    .listview3{
        position: relative;
        top: -120px;
        font-size: 20px !important;
        left: 60px;
    }

    .custombtnindex{
        position: relative;
        top: -150px;
        left: 13%;
    }

    .imgtech{
        position: relative;
        width: 5% !important;
        left: -30%;
        top: -200px;
    }
    
}