/*RESPONSIVE DE 2DO VIEW*/
/*Iphone 11 (6.1) viewport(414 x 896)*/
@media (max-width: 420px) {

    .BannerTitle2  {
        font-size: 250% !important;
        line-height : 45px !important;
        text-align: center;
        margin-top: -100px !important;
    }

    .subwrite{
        top: -15px;
        left: 40%;
    }
    
    .parrafo1{
        text-align: center;
        width: auto;
        font-size: 5vw;
    }

    .gratis {
        position: relative;
        font-size: 10vw;
        left: 30%;
        top: -40px;
    }

    .sign{
        top: -55px !important;
        left: 30%;
    }

    .card1{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -140%;
        left: 110px;
    }

    .card2{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -143%;
        left: 120px;
    }

    .card3{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -146%;
        left: 130px;
    }

    .card-title{
        font-size: 130% !important;
        top: 60%;
        left: 20% !important; 
    }

    .card-text{
        font-size: 70% !important;
        top: 70% !important;
        left: 15%;
    }

    .cardbtn{
        position: absolute;
        font-size: 70%;
        margin: 0%;
        padding: 5%;
        left: 8%;
        top: 80%;
        color: white;
    }

    .btnlargo{
        font-size: 18px;
        top: 62%;
    }

    .borderbtn{
        position: absolute;
        left: -120%;
        top: 59%;
        
    }

    
}

/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 380px) {

    .BannerTitle2  {
        font-size: 210% !important;
        line-height : 38px !important;
        text-align: center;
        margin-top: -100px !important;
    }

    .subwrite{
        top: -35px;
        left: 40%;
    }
    
    .parrafo1{
        text-align: center;
        width: auto;
        font-size: 4.5vw;
    }

    .gratis {
        position: relative;
        font-size: 10vw;
        left: 30%;
        top: -40px;
    }

    .sign{
        top: -55px !important;
        left: 30%;
    }

    .card1{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -140%;
        left: 110px;
    }

    .card2{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -143%;
        left: 120px;
    }

    .card3{
        position: absolute;
        width: 37%;
        height: 55%;
        top: -146%;
        left: 130px;
    }

    .card-title{
        font-size: 130% !important;
        top: 60%;
        left: 20% !important; 
    }

    .card-text{
        font-size: 70% !important;
        top: 70% !important;
        left: 15%;
    }

    .cardbtn{
        position: absolute;
        font-size: 70%;
        margin: 0%;
        padding: 5%;
        left: 8%;
        top: 80%;
        color: white;
    }

    .btnlargo{
        font-size: 18px;
        top: 58%;
    }

    .borderbtn{
        position: absolute;
        width: 20% !important;
        left: -133%;
        top: 55%;
        
    }

    
}