@media (max-width: 991px) {
    .cardplanes{
        height: auto;
    }
    .megatitle{
        margin-top: 5vh;
    }
}

@media (max-width: 575px) {
    .BannerTitle7{
        font-size: 6vh !important;
        line-height: 5vh !important;
    }
    .cardplanes{
        width: 95%;
        margin-left: 2.5vw;
        height: auto;
        
    }
}

@media (max-width: 320px) {
    .cardplanes{
        width: 95%;
        margin-left: 2.5vw;
        height: auto;
        
    }
}
