/*RESPONSIVE DE 5to VIEW*/
/*Iphone 11 (6.1) viewport(414 x 896)*/
@media (max-width: 420px) {
    .viewstyle5{
        height: 200%;
    }
    
    .carddisplay{
        height: 150%;
    }

    .crd1{
        position: absolute;
        height: 8%;
        top: 11%;
        text-align: center;
    }
    
    .crd2{
        position: absolute;
        top: 25%;
        height: 8%;
    }
    .crd3{
        position: absolute;
        top: 39%;
        height: 8%;
    }
    .crd4{
        position: absolute;
        top: 53%;
        height: 8%;
    }
    .crd5{
        position: absolute;
        top: 67%;
        height: 8%;
    }
    .crd6{
        position: absolute;
        top: 81%;
        height: 8%;
    }

    .txtmod{
        margin-top: 0vh;
    }

}


/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 380px) {

}