
/*tablets*/
@media (min-width: 1100px) {
  .customcople2{
    left: -8vw;
  }  
  .customcople3{
      left: -15vw;
    }
}

@media (max-width: 1024px) {
  .BannerTitle{
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 11vw;
    line-height: 10vw;
  }
  

  .first{
    width: 60vw;
    top: -10vw;
    left: 36vw;
    overflow: hidden;
  }
  .second{
    width: 60vw;
    top: -11vw;
    left: 37vw;
    overflow: hidden;
  }
  .third{
    width: 75vw;
    top: -19vw;
    left: 23vw;
    overflow: hidden;
  }
  .triangulo-1, .triangulo-2, .triangulo-3{
    display: none;
  }
}



/*Iphone 11 (6.1) viewport(414 x 896)*/
@media (max-width: 420px) {
  .custombtn {
    font-size: 70% !important;
    padding: 8px !important;
    margin: 0;
    margin-top: -20px !important;
  }

  .customcople1 {
    position: relative;
    width: 180px;
    left: 0px;
    margin-bottom: 10px !important;
  }

  .customcople2 {
    position: relative;
    width: 120px;
    left: 5px;
    top: -11% !important;
  }

  .customcople3 {
    position: relative;
    width: 220px;
    left: 0px;
    margin-top: 10px !important;
  }

  .BannerTitle {
    position: relative;
    font-size: 260% !important;
    line-height: 40px !important;
    padding-top: 10px;
  }

  .custombtnindex {
    position: absolute;
    top: 60% !important;
    font-size: 80% !important;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1% !important;
    padding-right: 5% !important;
  }

  /*mac*/
  .third {
    position: relative;
    width: 100%;
    top: -45%;
    left: 1%;
  }

  /*blue*/
  .second {
    position: relative;
    width: 85%;
    margin-top: -14%;
    left: 16%;
  }

  /*white*/
  .first {
    position: relative;
    width: 88%;
    margin-top: -13%;
    left: 17%;
  }

  
}


@media (max-height: 900px) {
  /*mac*/
  .third {
    margin-top: 16vh;
  }

  /*blue*/
  .second {
    margin-top: 4vh;
  }

  /*white*/
  .first {
    margin-top: 4vh;
  }

  .BannerTitle {
    position: relative;
    font-size: 5vh !important;
    line-height: 6vh !important;
    top: auto;
  }

  .custombtnindex {
    top: 26vh !important;
  }


}

@media (max-height: 820px) {
  /*mac*/
  .third {
    margin-top: 0vh;
  }
  
}

@media (max-height: 740px) {
  /*mac*/
  .third {
    margin-top: 1vh;
  }
  
  /*blue*/
  .second {
    margin-top: -6vh;
  }

  /*white*/
  .first {
    margin-top: -6vh;
  }

  .custombtnindex {
    top: 24vh !important;
  }
}

@media (max-height: 670px) {
  /*mac*/
  .third {
    margin-top: 0vh;
    
  }

}


/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 380px) {
  .custombtn {
    font-size: 12px !important;
    padding: 8px !important;
    text-transform: none !important;
    margin: 0;
    margin-top: -20px !important;
  }

  .customcople1 {
    position: relative;
    width: 180px;
    left: 0px;
    margin-bottom: 10px !important;
  }

  .customcople2 {
    position: relative;
    width: 120px;
    left: 5px;
    top: -11% !important;
  }

  .customcople3 {
    position: relative;
    width: 220px;
    left: 0px;
    margin-top: 10px !important;
  }

  .BannerTitle {
    position: relative;
    font-size: 32px !important;
    line-height: 40px !important;
    padding-top: 10px;
  }

  .custombtnindex {
    position: absolute;
    top: 55% !important;
    font-size: 80% !important;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1% !important;
    padding-right: 5% !important;
  }

  /*mac*/
  .third {
    position: relative;
    width: 100%;
    top: -45%;
    left: 1%;
  }

  /*blue*/
  .second {
    position: relative;
    width: 85%;
    margin-top: -14%;
    left: 16%;
  }

  /*white*/
  .first {
    position: relative;
    width: 88%;
    margin-top: -13%;
    left: 17%;
  }

  .customview1 {
    width: auto;
    height: auto;
    margin: 0%;
  }
}


/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 320px) {
  .custombtn {
    font-size: 12px !important;
    padding: 2px !important;
    text-transform: none !important;
    margin: 0;
  }

  .customcople1 {
    position: absolute;
    left: 2vw;
  }

  .customcople2 {
    position: absolute;
    left: 28vw;
    top: 0vh !important;
  }

  .customcople3 {
    position: absolute;
    left: -50vw;
  }

  .BannerTitle {
    position: absolute;
    font-size: 28px !important;
    line-height: 30px !important;
    padding-top: 10vh;
  }

  .custombtnindex {
    position: absolute;
    top: 30vh !important;
  }

  /*mac*/
  .third {
    position: relative;
    width: 65%;
    top: -3vh;
    left: 35vw;
  }

  /*blue*/
  .second {
    position: relative;
    width: 54%;
    top: 9vh;
    left: 48vw;
  }

  /*white*/
  .first {
    position: relative;
    width: 58%;
    top: 9vh;
    left: 45vw;
  }

  .customview1 {
    width: auto;
    height: 90vh;
  }
}